<h1>Listing randomisation_entries</h1>

<table>
  <thead>
    <tr>
      <th>Object</th>
      <th>Action</th>
      <th>Randomisation session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @randomisation_entries.each do |randomisation_entry| %>
      <tr>
        <td><%= randomisation_entry.object %></td>
        <td><%= randomisation_entry.action %></td>
        <td><%= randomisation_entry.randomisation_session_id %></td>
        <td><%= randomisation_entry.internal_order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
